---
import { Card, Button, TextField, Checkbox, Link } from "ui"
import GuestLayout from "../layouts/GuestLayout.astro"
---

<GuestLayout title="Login">
  <Card className="mx-auto w-full max-w-md">
    <Card.Header>
      <Card.Title>Login</Card.Title>
      <Card.Description>Don't loose the level, just keep on going.</Card.Description>
    </Card.Header>
    <Card.Content className="space-y-6">
      <TextField isRequired label="Email" placeholder="Enter your email" />
      <TextField isRequired label="Password" type="password" placeholder="Enter your password" />
      <div class="flex items-center justify-between">
        <Checkbox>Remember me</Checkbox>
        <Link intent="primary" href="#"> Forgot password? </Link>
      </div>
    </Card.Content>
    <Card.Footer>
      <Button className="w-full">Login</Button>
    </Card.Footer>
  </Card>
</GuestLayout>
